src/main/resources/purchaseInfo.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="purchase">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="purchaseItem">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="count">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="amount">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element  name="purchaseDate">
                <xs:simpleType>
                    <xs:restriction base="xs:date">
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
    <xs:element name="user">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="30" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="lastname">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="30" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="age">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="1" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>